spring:
  datasource:
    username: skubicz
    password: ${MORFEUSZ_PASSWORD}
    url: jdbc:sqlserver://morfeusz.wszib.edu.pl:1433;databaseName=skubicz;encrypt=false;
  liquibase:
    change-log: classpath:db/changelog/changelog-master.json
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 2MB
server:
  servlet:
    session:
      cookie:
        secure: true
        same-site: None
